.education_container{
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;
}
.my_education{
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(-45deg, transparent, var(--color-primary));
    display: grid;
    place-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.my_education_image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);
    transition: var(--transition);
}
.my_education_image:hover{
    transform: rotate(0);
}
.education_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.education_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .6rem;
    text-align: center;
    transition: var(--transition);
}
.education_card:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}
.education_icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}
.education_card small{
    font-size: .7rem;
    color: var(--color-light);
}
.education_card h5{
    font-size: 0.95rem;
}
.education_content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
@media screen and (max-width: 1024px){
    .education_container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .my_education{
        width: 50;
        margin: 2rem auto 4rem;
    }
    .education_content p{
        margin: 1rem 0 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .my_education{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .education_cards{
       grid-template-columns: 1fr 1fr;
       gap: 1rem;
    }
    .education_content{
        text-align: center;
    }
    .education_content p{
        margin: 0 1.5rem;
    }
}
